# Advanced XGBoost Model with NLP

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

import tensorflow as tf
import tensorflow_hub as hub
import xgboost as xgb

from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import train_test_split

from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, f1_score, precision_score

from imblearn.over_sampling import SMOTE

%matplotlib inline

Using TensorFlow backend.

In [2]:
def confusion_reporting(true_values, pred_values):
    '''
    This function takes in the true values of a dataset and the predicted values
    of the dataset and prints out a classification report, accuracy score, and
    plots the confusion matrix of the true and predicted values for simple analysis
    '''
    print(confusion_matrix(true_values, pred_values))
    print(classification_report(true_values, pred_values))
    print('Accuracy score:', round(accuracy_score(true_values, pred_values), 4))
    print('F1 score:', round(f1_score(true_values, pred_values), 4))

    cm = confusion_matrix(true_values, pred_values)
    df_cm = pd.DataFrame(cm.astype('float') / cm.sum(axis=1)[:, np.newaxis],
                         index=['F', 'T'],
                         columns=['F', 'T'])
    plt.figure(figsize=(7, 5))
    sns.heatmap(df_cm, annot=True, cmap='Greens', vmin=0, vmax=1)
    plt.xlabel('Pred Val')
    plt.ylabel('True Val')
    plt.show()

In [3]:
main_df = pd.read_pickle('main_df.pkl')

display(main_df.head())
display(main_df.info())

,congress,chamber,rollnumber,icpsr,cast_code,state_abbrev,bioname,bioguide_id,born,nominate_dim1,...,cosponsor_my_party,cosponsors^2,cosponsors_D^2,cosponsors_R^2,cosponsors_ID^2,cosponsor_my_party^2,party_D,sponsor_party_D,party_R,sponsor_party_R
5,113,Senate,1,14009,1,MS,"COCHRAN, William Thad",C000567,1937,0.287,...,1,4.0,1,1,0,1,0,1,1,0
12,113,Senate,1,14203,1,MT,"BAUCUS, Max Sieben",B000243,1941,-0.212,...,1,4.0,1,1,0,1,1,1,0,0
18,113,Senate,1,14226,1,IA,"GRASSLEY, Charles Ernest",G000386,1933,0.346,...,1,4.0,1,1,0,1,0,1,1,0
24,113,Senate,1,14230,1,IA,"HARKIN, Thomas Richard (Tom)",H000206,1939,-0.351,...,1,4.0,1,1,0,1,1,1,0,0
30,113,Senate,1,14307,1,VT,"LEAHY, Patrick Joseph",L000174,1940,-0.361,...,1,4.0,1,1,0,1,1,1,0,0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102692 entries, 5 to 306260
Data columns (total 78 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   congress                       102692 non-null  int64
 1   chamber                        102692 non-null  object
 2   rollnumber                     102692 non-null  int64
 3   icpsr                          102692 non-null  int64
 4   cast_code                      102692 non-null  int64
 5   state_abbrev                   102692 non-null  object
 6   bioname                        102692 non-null  object
 7   bioguide_id                    102692 non-null  object
 8   born                           102692 non-null  int64
 9   nominate_dim1                  102692 non-null  float64
 10  nominate_dim2                  102692 non-null  float64
 11  party                          102692 non-null  object
 12  last_name                      102692 non-null  object
 13  first_name                     102692 non-null  object
 14  lead_party                     102692 non-null  object
 15  date                           102692 non-null  object
 16  session                        102692 non-null  int64
 17  yea_count                      102692 non-null  int64
 18  nay_count                      102692 non-null  int64
 19  bill_number                    102692 non-null  object
 20  vote_result                    102692 non-null  object
 21  vote_desc                      102692 non-null  object
 22  vote_question                  102692 non-null  object
 23  cid                            102692 non-null  object
 24  summary                        102692 non-null  object
 25  sponsor                        102692 non-null  object
 26  sponsor_id                     102692 non-null  object
 27  sponsor_party                  102692 non-null  object
 28  cosponsors                     102692 non-null  float64
 29  cosponsors_D                   102692 non-null  int64
 30  cosponsors_R                   102692 non-null  int64
 31  cosponsors_ID                  102692 non-null  int64
 32  subjects                       102692 non-null  object
 33  Industry_0                     102692 non-null  object
 34  Industry_0_contrib             102692 non-null  object
 35  Industry_1                     102692 non-null  object
 36  Industry_1_contrib             102692 non-null  object
 37  Industry_2                     102692 non-null  object
 38  Industry_2_contrib             102692 non-null  object
 39  Industry_3                     102692 non-null  object
 40  Industry_3_contrib             102692 non-null  object
 41  Industry_4                     102692 non-null  object
 42  Industry_4_contrib             102692 non-null  object
 43  Industry_5                     102692 non-null  object
 44  Industry_5_contrib             102692 non-null  object
 45  Industry_6                     102692 non-null  object
 46  Industry_6_contrib             102692 non-null  object
 47  Industry_7                     102692 non-null  object
 48  Industry_7_contrib             102692 non-null  object
 49  Industry_8                     102692 non-null  object
 50  Industry_8_contrib             102692 non-null  object
 51  Industry_9                     102692 non-null  object
 52  Industry_9_contrib             102692 non-null  object
 53  campaign_year                  102692 non-null  int64
 54  recent_campaign_year           102692 non-null  int64
 55  first_name_alt                 102692 non-null  object
 56  percent_campaign_vote          102692 non-null  float64
 57  first_year_elected             102692 non-null  int64
 58  election_year                  102692 non-null  int64
 59  tenure                         102692 non-null  int64
 60  age                            102692 non-null  int64
 61  is_sponsor                     102692 non-null  int64
 62  sponsor_party_is_lead          102692 non-null  int64
 63  cosponsor_party_D_%            102692 non-null  float64
 64  cosponsor_party_R_%            102692 non-null  float64
 65  percent_cosponsors_lead_party  102692 non-null  float64
 66  sponsor_is_same_party          102692 non-null  int64
 67  lead_party_D                   102692 non-null  int64
 68  cosponsor_my_party             102692 non-null  int64
 69  cosponsors^2                   102692 non-null  float64
 70  cosponsors_D^2                 102692 non-null  int64
 71  cosponsors_R^2                 102692 non-null  int64
 72  cosponsors_ID^2                102692 non-null  int64
 73  cosponsor_my_party^2           102692 non-null  int64
 74  party_D                        102692 non-null  int64
 75  sponsor_party_D                102692 non-null  int64
 76  party_R                        102692 non-null  int64
 77  sponsor_party_R                102692 non-null  int64
dtypes: float64(8), int64(30), object(40)
memory usage: 61.9+ MB

None

#### Drop all roll numbers excepts last for each bill

In [4]:
last_roll_per_bill = main_df.groupby(['congress', 'bill_number']).rollnumber.max().reset_index()
last_roll_per_bill.columns = ['congress', 'bill_number', 'last_rollcall']
main_df_last_roll = main_df.merge(last_roll_per_bill, how='left', on=['congress', 'bill_number'])

main_df = main_df_last_roll[main_df_last_roll['rollnumber'] == main_df_last_roll['last_rollcall']]

main_df = main_df.reset_index(drop=True)

display(main_df.head())
display(main_df.tail())
display(main_df.info())

,congress,chamber,rollnumber,icpsr,cast_code,state_abbrev,bioname,bioguide_id,born,nominate_dim1,...,cosponsors^2,cosponsors_D^2,cosponsors_R^2,cosponsors_ID^2,cosponsor_my_party^2,party_D,sponsor_party_D,party_R,sponsor_party_R,last_rollcall
0,113,Senate,1,14009,1,MS,"COCHRAN, William Thad",C000567,1937,0.287,...,4.0,1,1,0,1,0,1,1,0,1
1,113,Senate,1,14203,1,MT,"BAUCUS, Max Sieben",B000243,1941,-0.212,...,4.0,1,1,0,1,1,1,0,0,1
2,113,Senate,1,14226,1,IA,"GRASSLEY, Charles Ernest",G000386,1933,0.346,...,4.0,1,1,0,1,0,1,1,0,1
3,113,Senate,1,14230,1,IA,"HARKIN, Thomas Richard (Tom)",H000206,1939,-0.351,...,4.0,1,1,0,1,1,1,0,0,1
4,113,Senate,1,14307,1,VT,"LEAHY, Patrick Joseph",L000174,1940,-0.361,...,4.0,1,1,0,1,1,1,0,0,1

,congress,chamber,rollnumber,icpsr,cast_code,state_abbrev,bioname,bioguide_id,born,nominate_dim1,...,cosponsors^2,cosponsors_D^2,cosponsors_R^2,cosponsors_ID^2,cosponsor_my_party^2,party_D,sponsor_party_D,party_R,sponsor_party_R,last_rollcall
23221,116,Senate,508,49300,1,CA,"FEINSTEIN, Dianne",F000062,1933,-0.268,...,136161.0,40401,28224,0,40401,1,1,0,0,508
23222,116,Senate,508,49308,1,WA,"MURRAY, Patty",M001111,1950,-0.350,...,136161.0,40401,28224,0,40401,1,1,0,0,508
23223,116,Senate,508,49703,1,ME,"COLLINS, Susan Margaret",C001035,1952,0.112,...,136161.0,40401,28224,0,28224,0,1,1,0,508
23224,116,Senate,508,49706,1,WY,"ENZI, Michael B.",E000285,1944,0.544,...,136161.0,40401,28224,0,28224,0,1,1,0,508
23225,116,Senate,508,94659,1,AL,"SHELBY, Richard C.",S000320,1934,0.428,...,136161.0,40401,28224,0,28224,0,1,1,0,508

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23226 entries, 0 to 23225
Data columns (total 79 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   congress                       23226 non-null  int64
 1   chamber                        23226 non-null  object
 2   rollnumber                     23226 non-null  int64
 3   icpsr                          23226 non-null  int64
 4   cast_code                      23226 non-null  int64
 5   state_abbrev                   23226 non-null  object
 6   bioname                        23226 non-null  object
 7   bioguide_id                    23226 non-null  object
 8   born                           23226 non-null  int64
 9   nominate_dim1                  23226 non-null  float64
 10  nominate_dim2                  23226 non-null  float64
 11  party                          23226 non-null  object
 12  last_name                      23226 non-null  object
 13  first_name                     23226 non-null  object
 14  lead_party                     23226 non-null  object
 15  date                           23226 non-null  object
 16  session                        23226 non-null  int64
 17  yea_count                      23226 non-null  int64
 18  nay_count                      23226 non-null  int64
 19  bill_number                    23226 non-null  object
 20  vote_result                    23226 non-null  object
 21  vote_desc                      23226 non-null  object
 22  vote_question                  23226 non-null  object
 23  cid                            23226 non-null  object
 24  summary                        23226 non-null  object
 25  sponsor                        23226 non-null  object
 26  sponsor_id                     23226 non-null  object
 27  sponsor_party                  23226 non-null  object
 28  cosponsors                     23226 non-null  float64
 29  cosponsors_D                   23226 non-null  int64
 30  cosponsors_R                   23226 non-null  int64
 31  cosponsors_ID                  23226 non-null  int64
 32  subjects                       23226 non-null  object
 33  Industry_0                     23226 non-null  object
 34  Industry_0_contrib             23226 non-null  object
 35  Industry_1                     23226 non-null  object
 36  Industry_1_contrib             23226 non-null  object
 37  Industry_2                     23226 non-null  object
 38  Industry_2_contrib             23226 non-null  object
 39  Industry_3                     23226 non-null  object
 40  Industry_3_contrib             23226 non-null  object
 41  Industry_4                     23226 non-null  object
 42  Industry_4_contrib             23226 non-null  object
 43  Industry_5                     23226 non-null  object
 44  Industry_5_contrib             23226 non-null  object
 45  Industry_6                     23226 non-null  object
 46  Industry_6_contrib             23226 non-null  object
 47  Industry_7                     23226 non-null  object
 48  Industry_7_contrib             23226 non-null  object
 49  Industry_8                     23226 non-null  object
 50  Industry_8_contrib             23226 non-null  object
 51  Industry_9                     23226 non-null  object
 52  Industry_9_contrib             23226 non-null  object
 53  campaign_year                  23226 non-null  int64
 54  recent_campaign_year           23226 non-null  int64
 55  first_name_alt                 23226 non-null  object
 56  percent_campaign_vote          23226 non-null  float64
 57  first_year_elected             23226 non-null  int64
 58  election_year                  23226 non-null  int64
 59  tenure                         23226 non-null  int64
 60  age                            23226 non-null  int64
 61  is_sponsor                     23226 non-null  int64
 62  sponsor_party_is_lead          23226 non-null  int64
 63  cosponsor_party_D_%            23226 non-null  float64
 64  cosponsor_party_R_%            23226 non-null  float64
 65  percent_cosponsors_lead_party  23226 non-null  float64
 66  sponsor_is_same_party          23226 non-null  int64
 67  lead_party_D                   23226 non-null  int64
 68  cosponsor_my_party             23226 non-null  int64
 69  cosponsors^2                   23226 non-null  float64
 70  cosponsors_D^2                 23226 non-null  int64
 71  cosponsors_R^2                 23226 non-null  int64
 72  cosponsors_ID^2                23226 non-null  int64
 73  cosponsor_my_party^2           23226 non-null  int64
 74  party_D                        23226 non-null  int64
 75  sponsor_party_D                23226 non-null  int64
 76  party_R                        23226 non-null  int64
 77  sponsor_party_R                23226 non-null  int64
 78  last_rollcall                  23226 non-null  int64
dtypes: float64(8), int64(31), object(40)
memory usage: 14.0+ MB

None

### Define cols to use in model

In [5]:
dep_col = 'cast_code'

senator_info = ['nominate_dim1', 'nominate_dim2', 'percent_campaign_vote', 'election_year', 'tenure', 
                'age', 'is_sponsor', 'sponsor_is_same_party', 'party_D', 'party_R', 'cosponsor_my_party', 
                'cosponsor_my_party^2']

bill_info = ['sponsor_party_is_lead', 'cosponsor_party_D_%', 'cosponsor_party_R_%', 
             'percent_cosponsors_lead_party', 'lead_party_D', 'sponsor_party_D', 'sponsor_party_R',
             'cosponsors', 'cosponsors_D', 'cosponsors_R', 'cosponsors_ID',
             'cosponsors^2', 'cosponsors_D^2', 'cosponsors_R^2', 'cosponsors_ID^2']

text_cols = ['summary']

indep_cols = senator_info + bill_info + text_cols

In [6]:
scalar = StandardScaler()

y = main_df[dep_col]
X = main_df[indep_cols]

non_text_cols = [x for x in indep_cols if x not in text_cols]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

X_train_sc = scalar.fit_transform(X_train[non_text_cols])
X_test_sc = scalar.transform(X_test[non_text_cols])

X_train_df = pd.DataFrame(X_train_sc, index=y_train.index, columns=X[non_text_cols].columns).join(X_train[text_cols])
X_test_df = pd.DataFrame(X_test_sc, index=y_test.index, columns=X[non_text_cols].columns).join(X_train[text_cols])

In [11]:
unique_sum_train_df = pd.Series(X_train_df['summary'].unique())
unique_sum_test_df = pd.Series(X_test_df['summary'].unique())

### Text Vectorization

In [7]:
# Load cached model
module_path = 'universal-sentence-encoder_4'
embed = hub.load(module_path)

In [ ]:
# Create embeddings 
X_train_embeddings = embed(unique_sum_train_df.values)
X_test_embeddings = embed(unique_sum_test_df.values)

In [ ]:
X_train_embeddings

### Run Model

In [ ]:
# Define pipeline
clf_xgb = xgb.sklearn.XGBClassifier(nthread=-1, seed=global_seed, learning_rate =0.1,
                                    n_estimators=1000,
                                    max_depth=5,
                                    min_child_weight=1,
                                    gamma=0,
                                    subsample=0.8,
                                    colsample_bytree=0.8,
                                    objective= 'binary:logistic',
                                    scale_pos_weight=1)

In [ ]:
# Fit model
clf_xgb.fit(X_train_embeddings, y_train)

In [ ]:
# Test accuracy on test data
predictions_xgb = clf_xgb.predict_proba(X_test_embeddings)
predictions_xgb# = [ item[1] for item in predictions_xgb]

In [ ]:
ROC = roc_auc_score(Y_validation, predictions_xgb)
print("ROC_Test: %.2f%%" % (ROC * 100.0))

# What is the point of this?

In [ ]:
# Spot-check results on validation sample
spot_check = data_validation
validation_probability_predictions_XGB = clf_xgb.predict_proba(X_validation_embeddings)[:, 1]
spot_check['prediction_probabilities_XGB'] = validation_probability_predictions_XGB